.card {
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 5%);
    background: var(--white);
}

.blue {
    background: #F9F8FF;
}

.openedTop {
    border-radius: 5px 5px 0 0;
}

.openedBottom {
    border-radius: 0 0 5px 5px;
}